
*.dll
*.pdb
data-structures/Debug
data-structures/obj
data-structures/bin
data-structures.Test/Debug
data-structures.Test/obj
data-structures.Test/bin
demo/.vscode
demo/Debug
demo/bin
demo/obj
.vscode